
body {
	
	background-color:#697a80;
}

#select {
	padding: 4px;
    border-radius: 3px;
}

.resposesView {
	
	width:80%;
	margin-left: 50px;
	
}
.testname {
	background-color: #3F51B5; width: 18em;border-radius: 8px; height: 2em;
}
.testapplication {
	
	margin-left:15%;
	
}
.testresult  {
	padding:6em;
	margin-left:24%;
}
.userlistradio {
	padding:2em;
}
#fileapplication {
	margin-left: 25%;
}
#radioselect {
	    margin-top: 12px;
}